[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
mwparserfromhell = "*"
pymediawiki = "*"
deepdiff = "*"

[dev-packages]
ipython = "*"
ipykernel = "*"
flake8 = "*"
pytest = "*"
flake8-tabs = "*"
yapf = "*"
pep8-naming = "*"
flake8-docstrings = "*"
flake8-rst-docstrings = "*"
pytest-cov = "*"
build = "*"
twine = "*"

[requires]
