[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[scripts]
make_docs = "pdoc mwtools/ -d google -o docs/"
build_package = "python3 -m build"
pypi_push = "twine upload dist/*"

[packages]
beautifulsoup4 = "*"
requests = "*"
pymediawiki = "*"

[dev-packages]
ipython = "*"
ipykernel = "*"
flake8 = "*"
deepdiff = "*"
pytest = "*"
flake8-tabs = "*"
yapf = "*"
pep8-naming = "*"
flake8-docstrings = "*"
flake8-rst-docstrings = "*"
pytest-cov = "*"
build = "*"
twine = "*"
pdoc = "*"

[requires]
