[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
ipython = "*"
pytest = "*"
ipykernel = "*"
autopep8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
